<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nossos Cursos</title>
    <link rel="stylesheet" href="../static/cursos.css">
    <link rel="stylesheet" href="../static/cor.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Cursos</h1>
            <p>Explore nossa variedade de cursos para expandir seus conhecimentos.</p>
            <a href="/" class="botao voltar">Voltar</a>
        </div>
    </header>

    <main class="container lista-de-cursos">
        <section class="curso-card">
            <img src="../static/imagens/cursos1.png" alt="Imagem do Curso 1">
            <h3>Lógica de Programação</h3>
            <p>Aprenda a base da programação com lógica clara, prática e direta. Do zero aos seus primeiros projetos com código real!
                .</p>
            <a href="/curso/logica-programacao" class="botao saiba-mais">Saiba Mais</a>
        </section>

        <section class="curso-card">
            <img src="../static/imagens/curso2.png" alt="Imagem do Curso 2">
            <h3>Python para Iniciantes: Do Zero ao Código</h3>
            <p>Desvende o mundo da programação com Python! Este curso abrangente é perfeito para quem nunca programou antes ou tem pouca experiência.</p>
            <a href="/curso/python-iniciantes" class="botao saiba-mais">Saiba Mais</a>
        </section>

        <section class="curso-card">
            <img src="../static/imagens/cursos3.jpeg" alt="Imagem do Curso 3">
            <h3>Cibersegurança</h3>
            <p>Curso de Cibersegurança com habilidades práticas para identificar e combater ameaças online.</p>
            <a href="/curso/Cibersegurança" class="botao saiba-mais">Saiba Mais</a>
        </section>

        <section class="curso-card">
            <img src="../static/imagens/curso4.jpg" alt="Imagem do Curso 4">
            <h3>Design Gráfico Profissional</h3>
            <p>Aprenda a criar visuais impactantes com as ferramentas e técnicas do design.</p>
            <a href="/curso/design-grafico" class="botao saiba-mais">Saiba Mais</a>
        </section>
s
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Academia Digital. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>