{% extends "base.html" %}

{% block title %}Excluir Conta{% endblock %}

{% block content %}
<h3>Excluir Conta</h3>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="messages">
    {% for category, message in messages %}
    <div class="{{ category }}-label">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<form method="post" action="{{ url_for('excluir') }}">
    <label for="usuario">Usuário:</label>
    <input type="text" id="usuario" name="usuario" value="{{ session['usuario'] }}" readonly><br><br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" placeholder="Senha" required><br><br>
    <button type="submit" style="background-color: #dc3545;">Excluir Conta</button>
</form>
<p><a href="/">Voltar</a></p>
{% endblock %}