<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cor.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo_modulo.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ video.titulo }}</title>
</head>
<body>
    <h1>{{ video.titulo }}</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/S9uPNppGsGo?si=EdlnfTl4g5Hxz5Jz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p><a href="curso_python.html">Voltar</a></p>
    
</body>

</html>